/*COMMON*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;    
}
html{
    font-family: 'Roboto', sans-serif;
}

:root{
    --darkblack: rgba(0, 0, 0, 1);
    --black: rgba(31, 31, 31, 1);
    --blue: rgba(58, 109, 231, 1);
    --light-grey: rgba(190, 188, 187, 1);
    --grey: rgba(66, 66, 66, 1);
    --dark-blue: rgba(28, 28, 59, 1);
    --red: rgba(255, 0, 15, 1);
    --lavish-white: rgba(217, 218, 220, 1);
}
.debug{
    border: 1px solid black;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 80%;
    margin: 0 auto;
    padding: 80px;
}

.red{
    color: red;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
.grey{
    color: grey;
}

